@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.container {
	background-color: #354755;
}
/* heloo */

footer {
	background: #354755;
	margin-top: 6.25rem;
	display: flex;
	justify-content: space-evenly;
	width: 1500px;
	height: 16rem;
	color: white;
	padding-top: 4rem;
	font-family: "Inter", sans-serif;
	padding-left: 8.4rem;
	padding-right: 8.4rem;
}

h1 {
	font-weight: bold;
}
p,
h1 {
	padding: 0.62rem;
}
.firt-item h2 {
	font-size: 2rem;
	font-weight: 500px;
}
.copy-right {
	text-align: left;
	padding: 6.25rem;
	color: white;
	padding-left: 8.4rem;
	padding-right: 8.4rem;
	padding-top: 3rem;
}

.item {
	text-align: left;
	font-size: 1;
}

.item h1 {
	font-size: 1.125rem;
	font-weight: 500px;
}
