@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

header{
    margin-top: 40px;
    margin-left: 8.4rem;
    margin-right: 8.4rem;
    height: 9rem;
    font-family: 'Inter', sans-serif;
}
.line-pointer{
    height: 60px;
    width: 200px;
    
}