
  .nav{
    height: 2.2rem;
    font-weight: 25rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .nav-business{
    margin-left: 1.25rem;
  }

  .nav-customer,
  .nav-business{
    cursor: pointer;
  
}

  .nav-customer:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.6rem; 
    text-decoration-color: #FF833C;
  }
  
  
  .nav-business:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.6rem; 
    text-decoration-color: #FF833C;
  }