/* header component styles */

@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
    margin: 0;
    padding: 0%;
    width: 100%;
}

.nav-business {
    margin-left: 20px;
}

.nav-customer,
.nav-business {
    color: black;
}

.logo-name {
    color: #FF833C;
}