.card-section{
    background-color: hsl(200, 20%, 97%);
    margin-top: 50px;
    height: 28rem;
    padding-top: 57px;
   

}
h2{
    
    
}
.cards-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 25px;
}

.card{
    display: block;
    text-align: center;
    width: 22rem;
    height: 17rem;
    
}

.number{
    background-color: #FFFFFF;
    color: black;
    height: 6.25rem;
    width: 5.719rem;
    display: inline-block;
    border-radius: 3.125rem;
    padding: 2rem;
    margin-bottom: -2.5rem;
    font-size: 24px
;
}


.card-content{
    background-color:#354755;
    height: 78%;
    width: 100%;
    padding-top: 2.5rem;
    color: white;
    border-radius: 0.5rem;
}
.card-content p{
   
}