@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.hero {
	background-image: linear-gradient(rgba(0, 49, 87, 0.25), rgb(1, 43, 71)),
		url("../../../assets/Header-bg-Img.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.25rem;
	font-family: "Inter", sans-serif;
}
