.login-container {
    display: flex;
    height: 100vh;
}

.form-container {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 30px;
}

.sign {
    padding-top: 20px;
    padding-bottom: 100px;
}

.flex-col {
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
}

.welcome-back {
    display: flex;
    align-items: center;
    width: 640px;
    height: 40px;
    top: 200px;
    left: 730px;
    gap: 8px;
    opacity: 0px;
    font-size: large;
}

.welcome-back svg {
    margin-right: 8px;
    /* Adjust margin as needed */
}

.login-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #FF833C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.input-field .MuiIconButton-root {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}

.submit-button:hover {
    background-color: #FF833C;
    color: white,
}