@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
<<<<<<< HEAD
    max-width: 1280px;
    margin: 0;
    padding: 0 2rem;
    text-align: center;
=======
  text-align: center;
>>>>>>> 02336e40be6e26c373e23b697530b684779941af
}

body{

<<<<<<< HEAD
.navbar {
    margin: 0;
=======
  padding: 0;
  
>>>>>>> 02336e40be6e26c373e23b697530b684779941af
}


/* button component styles */
.my-button {
  border-radius: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.my-button:hover {
  filter: brightness(90%);
}

.bg-primary {
  color: white;
  height: 1.4;
  width: 14rem;
}

.bg-secondary {

  height: 2.5;
  width: 29rem;

  
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  
}


