@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes markerPulse {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.animate-marker-glow {
  animation: markerPulse 2s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}